.task_item {
    background-color: white;
    width: 50rem;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #d3d3d3;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    position: relative;
}

.task_text {
    margin-left: 3rem;
    padding-top: 0.3rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

.task_text.completed {
    text-decoration: line-through;
    color: grey;
}

.checkbox {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translate(40%, -67%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.5rem;
    display: none;
}

.task_item:hover .checkbox {
    display: block;
}

.delete_button {
    background-color: #ff4c4c;
    border-radius: 0.5rem;
    border: none;
    width: 2.5em;
    height: 2.5em;
}

.delete_button:hover {
    cursor: pointer;
    background-color: #fa0909;
}

.edit_button {
    background-color: rgb(254, 250, 39);
    border-radius: 0.5rem;
    border: none;
    width: 2.5em;
    height: 2.5em;
}

.edit_button:hover {
    cursor: pointer;
    background-color: rgb(255, 221, 0);
}

.up_button {
    background-color: #00a6ff;
    border-radius: 0.5rem;
    border: none;
    width: 2.5em;
    height: 2.5em;
}

.up_button:hover {
    cursor: pointer;
    background-color: #42bcfe;
}

.down_button {
    background-color: #20acf8;
    border-radius: 0.5rem;
    border: none;
    width: 2.5em;
    height: 2.5em;
}

.down_button:hover {
    cursor: pointer;
    background-color: #42bcfe;
}

.button_container {
    margin-left: auto;
    display: flex;
    gap: 0.3rem;
    padding-right: 1rem;
}

.draggable_area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    cursor: grab;
    margin-right: 1rem;
}

.draggable_area:active {
    cursor: grabbing;
}